body {
  font-family: "Times New Roman", Times, serif;
  color: #076496;
}

.card {
  border: 3px solid #076496; 
  box-shadow: 5px 10px #008B8B; 
  width: 340px; 
  margin: 20px auto; 
  font-family: "Times New Roman", Times, serif;
  color: #050A5E;
  background-color: #D4F9FE;
  border-radius: 5px;
  padding: 15px;
}

.card-content {
  border: 2px solid #076496;
  padding: 15px;
  border-radius: 5px;
}

.animal-name {
  font-weight: bold;
  padding-bottom: 10px;
  margin-bottom: 10px;
  text-align: center;
}

.placeholder {
  border: 3px solid #076496;
  width: 300px; 
  display: block;
  margin: 0 auto 10px auto;
  border-radius: 3px;
}

.animal-info {
  border: 2px solid #076496;
  padding: 10px;
  margin-top: 10px;
  text-align: left;
  background-color: #E2F7FC;
  border-radius: 5px;
}

.interesting-fact {
  text-align: center;
  font-style: italic;
  margin-bottom: 10px;
}

.animal-details {
  list-style-type: none; 
  margin-bottom: 10px;
  padding-left: 0;
}

.label { 
  font-weight: bold;
  display: inline;
}

.description {
  margin-top: 10px;
}